
body{
    background-color: #A80038 ;
    text-align: center;
    background-image: url("backgroundimg.jpg");
    margin:0px;
  
  }
  
  h1
  {
margin:50px;
font-family: 'Tangerine', cursive;
font-size:80px;
color:#D4ECDD;

  }
  table{
      margin-left: 125px;
      padding: 15px;
  }
  p{
      margin: 20px 10px;
      font-size:large;
      color:#D5EEFF ;
       line-break:normal;
       font-family: 'Anybody', cursive;
       font-size: 20px;
  }
  button
{
  height: 50px; 
  width:150px;
  background-color:#6B0848;
  color:#D4ECDD;
  border:solid 2px  #6B0848;
  border-radius: 5px;
  font-size: large;
}


    .flipX {
        animation: 3s anim-flipX ease infinite;
      }
      @keyframes anim-flipX {
        0% {
          opacity: 0;
          transform: rotateX(90def);
        }
        50% {
          opacity: 1;
          transform: rotateX(720deg);
        }
        100% {
          /* animate nothing to pause animation at the end */
          opacity: 1;
          transform: rotateX(720deg);
        }
      }
      .lineUp {
        animation: 2s anim-lineUp ease-out infinite;
      }
      @keyframes anim-lineUp {
        0% {
          opacity: 0;
          transform: translateY(80%);
        }
        20% {
          opacity: 0;
        }
        50% {
          opacity: 1;
          transform: translateY(0%);
        }
        100% {
          opacity: 1;
          transform: translateY(0%);
        }
      }